/*nav styles */


.open-sans-normal{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style:normal;
}

.dark-two{
    color:#474747 ;
}



.text-primary{

    color:#FD6E0A;
}

.header {
    background-image: url(/images/developer.png), url(/images/header_bg.png); 
    background-repeat: no-repeat;
    background-position: top left , bottom right;
    
    
}




nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul li {
     list-style: none;
     margin-right: 51px;
}

nav ul {
    display: flex;
    align-items: center;
}
nav ul li a {
  text-decoration: none;
  font-size: 20px;
  
}

.btn-primary{
    background-color:#FD6E0A ;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;

}
.text-center{
    text-align: center;
}



/*banner styles*/

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 200px ;
}
.banner-content{
    max-width: 580px;
}



.banner-greeting{
    font-size: 45px;
    font-weight: 700;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-description{
    font-size: 18px;
}


      
.banner-profile-pic{
    width: 580px;
}

.secondary-bg{
    background-color: #FFF8F3;
}



.section-title{
    font-size: 35px;
    font-weight:bold ;
    color:#181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
 /*main style*/
 main{
    max-width:1140px ;
    margin: 0 auto;
 }

main section {
     margin-top: 130px;
     margin-bottom: 130px;

}



  /*about style */
.about{
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
 
}

.about-items{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.item-description{
    font-weight: 600;
    padding: 5px;
    margin-bottom: 20px;
}
/*skills section styles*/

.skills-container{
    display: flex;
    gap: 24px;
    margin-top: 40px;
}

.skill{
    padding:30px ;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06) ;
}

/*resume-container section style*/
  


.resume-container{
    display: flex;
    gap: 24px
}

.experience-description{
    font-size: 16px;
    color: #757575;
}
.experience-sub-title{
    font-size: 20px;
    color: #757575;
    margin-bottom: 10px;
    margin-top: 10px;
}
.experience-title{
    font-weight: bold;
    color: #474747;
    font-size: 25px;
    margin-bottom: 5ppx;
}

.resume-column-title{
    font-size: 30px;
    font-weight: bold;
    color:#474747 ;
}
hr{
    margin: 30px 0px;
}
.section-title{
    text-align: center;
    margin-top: 180px;
    margin-top: 120px;
}
.btn-hire-me{
    text-align: center;
    margin-top: 50px;
}

/*footer style*/
footer{
    display: flex;
    gap: 100px;
}

.footer-colum{
    padding: 130px 230px;
    width: 50%;
}
.icon-im{
    margin-right: 30px;
}

footer input[type="text"], footer input[type="email"], footer textarea{
    width: 100%;
    background-color:white;
    border-radius: 5px;
    height: 64px;
    display: block;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}
